networks:
  app:
services:
  backend:
    build:
      context: ./
      dockerfile: ./src/main/java/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - app

  frontend:
    build:
      context: ./src/main/ui
    ports:
      - "3000:80"
    volumes:
      - ./docker-config/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app

  loki:
    image: grafana/loki:2.9.0
    ports:
      - "3100:3100"
    volumes:
      - ./docker-config/local-loki-config.yaml:/etc/loki/local-config.yaml # Mount Loki config
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - app

  grafana:
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://prometheus:9090
          basicAuth: false
          isDefault: false
        EOF
        /run.sh
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    networks:
      - app

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./docker-config/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - app

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8085:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      # - /var/lib/docker/:/var/lib/docker:ro # Error on Linux
    networks:
      - app
